<!DOCTYPE html>
<html>
<head>
  <title>Rumba</title>
  <%= stylesheet_link_tag    "rumba/application", media: "all" %>
  <%= javascript_include_tag "rumba/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
